.wrapper {
    background-color: var(--dark-clr);
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed var(--light-clr);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
        margin: 0;
        color: var(--light-clr);
        font-size: 1.6rem;
    }
}

.demo {
    margin: 30px 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;

    button {
        background-color: transparent;
        color: var(--light-clr);

        &:hover {
            color: var(--dark-clr);
        }

        & .btnIcon {
            font-size: 1.6rem;
        }
    }
}
